.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.csv
*.png
./data
*.docx
*.html
/data
/results
/code/TCcode/historic
/code/deprecated
/code/RKCcode/2016
/code/RKCcode/2017
/instructions
/data/redcrab/deprecated
